.idea
.vscode
/mChanjo/*.iml
/mChanjo/.gradle
/mChanjo/local.properties
/mChanjo/.idea/caches
/mChanjo/.idea/libraries
/mChanjo/.idea/modules.xml
/mChanjo/.idea/misc.xml
/mChanjo/.idea/workspace.xml
/mChanjo/.idea/navEditor.xml
/mChanjo/.idea/assetWizardSettings.xml
/mChanjo/.DS_Store
/mChanjo/build
/mChanjo/captures
/mChanjo/.externalNativeBuild
/mChanjo/.cxx
/mChanjo/local.properties
